table {
    width: 900px;
    height: 423px;
    border-collapse: collapse;
    aspect-ratio: 1 / 1;
}

.whiteStripe {
    background-color: white;
}

.redStripe {
    background-color: darkred;
}

@media (max-width: 400px) {
    table {
        width: 800px;
        height: 323px;
    }
    
    img.stars {
        width: 234px;
        height: auto;
    }
}

@media (max-width: 310px) {
    table {
        width: 600px;
        height: 223px;
    }
    
    img.stars {
        width: 160px;
        height: auto;
    }
}

@media (max-width: 236px) {
    table {
        width: 400px;
        height: 223px;
    }
    
    img.stars {
        width: 160px;
        height: auto;
    }
}

img {
    position: absolute;
    width: 305px;
    height: auto;
}
